@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: 'Hack';
  src: url(/assets/fonts/Hack-NF.ttf);
  display: swap;
}

* {
  font-family: 'Hack', monospace;
}

html,
body {
  width: 100vw;
  text-rendering: optimizeLegibility;
}

html,
body,
body > div:first-child,
div#__next,
div#__next > div {
  height: 100%;
  overflow: auto;
}

img {
  display: unset;
}

p[align='center'],
p[align='center'] + p {
  white-space: normal;
}

.terminal {
  /* border-image: linear-gradient(90deg, #f79533, #f37055, #ef4e7b, #a166ab, #5073b8, #1098ad, #07b39b, #6fba82);
  border-image-slice: 1; */
  background: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' viewBox='-0.5 -0.5 960 540' preserveAspectRatio='none'><defs><linearGradient id='gradient' gradientTransform='rotate(45)'><stop offset='0%25' style='stop-color:%23f79533;'/><stop offset='14.285%25' style='stop-color:%23f37055;'/><stop offset='28.571%25' style='stop-color:%23ef4e7b;'/><stop offset='42.857%25' style='stop-color:%23a166ab;'/><stop offset='57.142%25' style='stop-color:%235073b8;'/><stop offset='71.428%25' style='stop-color:%231098ad;'/><stop offset='85.714%25' style='stop-color:%2307b39b;'/><stop offset='100%25' style='stop-color:%236fba82;'/></linearGradient></defs><rect vector-effect='non-scaling-stroke' width='959' height='539' rx='4' style='fill:none;stroke:url(%23gradient);stroke-width:2;'/></svg>");
  background-size: 100% 100%;
}

::-webkit-scrollbar {
  width: 10px;
  height: 10px;
}

::-webkit-scrollbar-track {
  background: rgba(0, 0, 0, 0.05);
  border-radius: 5px;
}

::-webkit-scrollbar-thumb {
  background: #bd93f9;
  border-radius: 5px;
}

::-webkit-scrollbar-thumb:hover {
  background: #ff79c6;
}
